.main-button {
    border-radius: 8px;
  
    padding: 0.6em 1.2em;
    font-size: 1.3em;
    font-weight: 500;
    font-family: inherit;
    position: absolute;
    right: 10px;
    /* display: none; */
}


@media only screen and (min-width: 640px) {
   .main-button {
        /* display: block; */
        animation-name:left-side-animation;
        animation-duration: 2s;
        animation-iteration-count: 1;
       
    }
    .nav-container {
        
        animation-name: large-screen-animation;
        animation-duration: 1s;
        animation-iteration-count: 1;
      
    }
  
   
}

@media only screen and (max-width: 640px) {
    .main-button {
        display: block;
        animation-name:left-side-animation;
        animation-duration: 2s;
        animation-iteration-count: 1;
       
    }
    .nav-container {
        
        animation-name: small-screen-animation;
        animation-duration: 1s;
        animation-iteration-count: 1;
      
    }
}

@keyframes large-screen-animation {
    from{width: 0vw;}
    to{width: 27vw;}
}
@keyframes small-screen-animation {
    from{width: 0vw;}
    to{width: 60vw;}
}
@keyframes left-side-animation {
    from{opacity: 0;}
    to{opacity:  1;}
}





     
.mob-list1{
  animation: left-side-animation ;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
